*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(104, 131, 252, 0.9)), to(rgba(185, 112, 253, 0.9)));
  background-image: linear-gradient(to right bottom, rgba(104, 131, 252, 0.9), rgba(185, 112, 253, 0.9));
  height: 100vh;
}

.nav__color {
  padding: 2rem;
  height: 14vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(104, 131, 252, 0.9)), to(rgba(185, 112, 253, 0.9)));
  background-image: linear-gradient(to right bottom, rgba(104, 131, 252, 0.9), rgba(185, 112, 253, 0.9));
  position: relative;
}

.nav__img {
  float: left;
}

.nav__ul {
  list-style: none;
  margin-top: .5rem;
  left: 52%;
  position: absolute;
}

.nav__ul--li {
  list-style: none;
  float: left;
}

.nav__ul--li--a {
  padding: 0rem 2rem 1rem 2rem;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
}

.nav__ul--li--a:hover {
  color: black;
  border-bottom: 3px solid #5fbafc;
}

.div__hero {
  padding: 0rem 4rem;
  width: 100%;
}

.div__hero--left {
  float: left;
  width: 45%;
  height: 100%;
  padding: 10rem;
}

.div__hero--right {
  float: right;
}

.div__hero--primary {
  font-size: 5rem;
  letter-spacing: 1.5rem;
  color: white;
  font-weight: 900;
}

.div__hero--secondary {
  color: wheat;
  line-height: 2.5rem;
  width: 114%;
  font-size: 1.5rem;
}

.div__hero--button {
  width: 30vh;
  height: 7vh;
  border-radius: 100px;
  outline: none;
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.div__hero--button:hover {
  background-color: #7b10ff;
  color: white;
}

.div__hero1--left {
  margin-left: 100px;
}

.ami {
  text-align: center;
}

.section__part--one {
  width: 100%;
  height: 60vh;
  margin-top: 15rem;
}

.feture__one {
  width: 33%;
  float: left;
  height: 40rem;
  text-align: center;
}

.feture__one img {
  margin-bottom: 3rem;
}

.feture__one p {
  color: #50668f;
  font-size: 1.5rem;
}

.feture__one h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.feture__tow {
  width: 33%;
  float: left;
  height: 40rem;
  text-align: center;
}

.feture__tow img {
  margin-bottom: 3rem;
}

.feture__tow p {
  color: #50668f;
  font-size: 1.5rem;
}

.feture__tow h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.feture__three {
  width: 33%;
  float: left;
  height: 40rem;
  text-align: center;
}

.feture__three img {
  margin-bottom: 3rem;
}

.feture__three p {
  color: #50668f;
  font-size: 1.5rem;
}

.feture__three h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.section__part--tow {
  width: 100%;
  height: 60vh;
}

.brand {
  margin-bottom: 10rem;
}

.brand__left {
  width: 45%;
  float: left;
  padding-left: 5rem;
}

.brand__left h1 {
  font-size: 4rem;
  color: #1e283c;
  font-weight: 500;
}

.brand__left p {
  font-size: 1.5rem;
  color: #50668f;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding-right: 8rem;
}

.brand__left button {
  border: none;
  padding: 2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer;
}

.brand__left button:hover {
  background-color: #7b10ff;
  border-radius: 3px;
  color: white;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

.brand__right {
  float: left;
  width: 55%;
}

.brand__right img {
  height: 70vh;
}

.after {
  margin-bottom: 15rem;
  font-size: 3rem;
  text-transform: uppercase;
  color: #7b10ff;
  text-align: center;
  position: relative;
}

.after::before {
  content: "";
  width: 150px;
  height: 10px;
  position: absolute;
  top: 40px;
  left: 600px;
  right: 10px;
  bottom: 10px;
  border-bottom: 2px solid black;
}

.section__part--three {
  width: 100%;
  height: 80vh;
  margin-top: 50rem;
}

.section__part--three .after2 {
  margin-bottom: 15rem;
  font-size: 3rem;
  text-transform: uppercase;
  color: #7b10ff;
  text-align: center;
  position: relative;
}

.section__part--three .after2::before {
  content: "";
  width: 220px;
  height: 10px;
  position: absolute;
  top: 40px;
  left: 565px;
  right: 10px;
  bottom: 10px;
  border-bottom: 2px solid black;
}

.section__part--three .Statistics__one--part1 {
  width: 100%;
  text-align: center;
}

.section__part--three .Statistics__one--part1 h1 {
  font-size: 3rem;
  color: #1e283c;
  padding: 2rem 0rem 0rem 0rem;
}

.section__part--three .Statistics__one--part1 p {
  font-size: 1.5rem;
  color: #50668f;
  padding: 2rem 0rem 8rem 0rem;
}

.section__part--three .Statistics__tow {
  width: 100%;
  height: 40rem;
}

.section__part--three .Statistics__tow--part1 {
  width: 33%;
  float: left;
}

.section__part--three .Statistics__tow--part1 img {
  padding-left: 8rem;
}

.section__part--three .Statistics__tow--part2 {
  width: 33%;
  float: left;
}

.section__part--three .Statistics__tow--part2-section1 {
  height: 20rem;
  margin-bottom: 5rem;
}

.section__part--three .Statistics__tow--part2-section1 h1 {
  font-size: 3rem;
  color: #1e283c;
  padding: 2rem 0rem;
}

.section__part--three .Statistics__tow--part2-section1 p {
  font-size: 1.5rem;
  color: #50668f;
}

.section__part--three .Statistics__tow--part2-section2 {
  height: 20rem;
}

.section__part--three .Statistics__tow--part2-section2 h1 {
  font-size: 3rem;
  color: #1e283c;
  padding: 2rem 0rem;
}

.section__part--three .Statistics__tow--part2-section2 p {
  font-size: 1.5rem;
  color: #50668f;
}

.section__part--three .Statistics__tow--part3 {
  width: 33%;
  float: left;
}
/*# sourceMappingURL=style.css.map */