$color-primary : #6883FC;
$color-primary-light: #B970FD;


$color-dark: #000;
$color-white: #fff;


*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
    line-height: 1.7;
    
    // padding: 3rem;
    box-sizing: border-box;
    // color: $color-grey-dark;
}
header{
    width: 100%;
    background-image: linear-gradient(to right bottom ,rgba($color-primary,.9),rgba($color-primary-light,.9));
    height: 100vh;
    // position: relative;
    
}

.nav{
   
     &__color{
        //  margin-top: 2rem;
        padding: 2rem;
        height: 14vh;
        width: 100%;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
       
       
        background-image: linear-gradient(to right bottom ,rgba($color-primary,.9),rgba($color-primary-light,.9));
        position: relative;
     }
   
   

    &__img{
        // width: 40%;
        float: left;
        // width: 14vw;
        // height: 8vh;
    }
    &__ul{
        list-style: none;
        // float: left;
        // padding: 0rem 1rem;
        margin-top: .5rem;
        left: 52%;
        position: absolute;


        &--li{
            list-style: none;
            float: left;



            &--a{
                padding: 0rem 2rem 1rem 2rem;
                text-decoration: none;
                font-size: 2rem;
                text-transform: uppercase;
                color: white;

                &:hover{
                    color: black;
                    border-bottom: 3px solid #5fbafc ;
                }
            }
        }

    }
}

.div__hero{
    // margin-top: 5rem;
    padding: 0 4rem;
    width: 100%;



    &--left{
        float: left;
        width: 45%;
        height: 100%;
        // text-align: center;
        padding: 10rem;
    }
    &--right{
        float: right;
        & img{
            // height: 10vh;
        }
    }

    &--primary{
        font-size: 5rem;
        letter-spacing: 1.5rem;
        // text-transform: uppercase;
        color: white;
        font-weight: 900;
    }
    &--secondary{
           color: wheat;
           line-height: 2.5rem;
           width: 114%;
           font-size: 1.5rem;
    }
    &--button{
        width: 30vh;
        height: 7vh;
        border-radius: 100px;
        outline: none;
        margin-top: 2rem;
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
        border: none;

        &:hover{
           background-image: linear-gradient(to right, #5fbafc 50%, #71e1aa 100%);
           box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);

        }
    }
}
.div__hero1--left{
    margin-left: 100px;
}
.ami{
    text-align: center;
}
.section__part--one{
    width: 100%;
    height: 60vh;
   
    // background-color: black;
    margin-top: 15rem;

    & h1{
        text-align: center;
        font-size: 3rem;
        text-transform: uppercase;
        margin-bottom: 15rem;
        color: #7b10ff;
        
    }
}
.feture{
    &__one{
        width: 33%;
        float: left;
        // padding: 3rem;
        height: 40rem;
        text-align: center;

        & img{
            margin-bottom: 3rem;
        }
        & p{
            color: #50668f;
            font-size: 1.5rem;
        }
        & h1{
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
    }
    &__tow{
        width: 33%;
        float: left;
        height: 40rem;
        text-align: center;
        & img{
            margin-bottom: 3rem;
        }
        & p{
            color: #50668f;
            font-size: 1.5rem;
        }
        & h1{
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
    }
    &__three{
        width: 33%;
        float: left;
        height: 40rem;
        text-align: center;
        & img{
            margin-bottom: 3rem;
        }
        & p{
            color: #50668f;
            font-size: 1.5rem;
        }
        & h1{
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
       
    }

}
.section__part--tow{
    width: 100%;
    height: 60vh;
    
}
.brand{
    margin-bottom: 10rem;
    &__left{
        width: 45%;
        float: left;
        padding-left: 5rem;

        & h1{
            font-size: 4rem;
            color: #1e283c;
            font-weight: 500;
        }
        & p{
            font-size: 1.5rem;
            color: #50668f;
            margin-top: 2rem;
            margin-bottom: 3rem;
            padding-right: 8rem;
        }

        button{
            border: none;
            // text-align: center;
            padding: 2rem;
            font-size: 1.6rem;
            text-transform: uppercase;

            &:hover{
                background-color:#7b10ff ;
                border-radius: 3px;
                color: white;
                box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
            }
        }
    }
    &__right{
        float: left;
        width: 55%;
        & img{
            height: 70vh;
        }
    }
}