$color-primary : #6883FC;
$color-primary-light: #B970FD;


$color-dark: #000;
$color-white: #fff;


*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
    line-height: 1.7;
    
    // padding: 3rem;
    box-sizing: border-box;
    // color: $color-grey-dark;
}
header{
    width: 100%;
    background-image: linear-gradient(to right bottom ,rgba($color-primary,.9),rgba($color-primary-light,.9));
    height: 100vh;
    // position: relative;
    
}         
        //    ---------------------nav-menu-----------------------------
.nav{
   
     &__color{
        //  margin-top: 2rem;
        padding: 2rem;
        height: 14vh;
        width: 100%;
        // box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
       
       
        background-image: linear-gradient(to right bottom ,rgba($color-primary,.9),rgba($color-primary-light,.9));
        position: relative;
     }
   
   

    &__img{
        // width: 40%;
        float: left;
        // width: 14vw;
        // height: 8vh;
    }
    &__ul{
        list-style: none;
        // float: left;
        // padding: 0rem 1rem;
        margin-top: .5rem;
        left: 52%;
        position: absolute;


        &--li{
            list-style: none;
            float: left;



            &--a{
                padding: 0rem 2rem 1rem 2rem;
                text-decoration: none;
                font-size: 2rem;
                text-transform: uppercase;
                color: white;

                &:hover{
                    color: black;
                    border-bottom: 3px solid #5fbafc ;
                }
            }
        }

    }
}
        // ---------------------------hero section--------------------------------
.div__hero{
    padding: 0rem 4rem;
    width: 100%;



    &--left{
        float: left;
        width: 45%;
        height: 100%;
      
        padding: 10rem;
    }
    &--right{
        float: right;
       
    }

    &--primary{
        font-size: 5rem;
        letter-spacing: 1.5rem;
   
        color: white;
        font-weight: 900;
    }
    &--secondary{
           color: wheat;
           line-height: 2.5rem;
           width: 114%;
           font-size: 1.5rem;
    }
    &--button{
        width: 30vh;
        height: 7vh;
        border-radius: 100px;
        outline: none;
        margin-top: 2rem;
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
        border: none;
        cursor: pointer;

        &:hover{
        
        background-color:#7b10ff;
        color: white;
        

        }
    }
}
.div__hero1--left{
    margin-left: 100px;
}
.ami{
    text-align: center;
}


                    //    ----------------main part start here--------
.section__part--one{
    width: 100%;
    height: 60vh;
    margin-top: 15rem;  
}
.feture{
    &__one{
        width: 33%;
        float: left;
        padding: 5rem 2rem;
        // margin-left: 2rem;

        
        
        height: 40rem;
        text-align: center;

        & img{
            margin-bottom: 3rem;
        }
        & p{
            color: #50668f;
            font-size: 1.5rem;
        }
        & h1{
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
    }
    &__tow{
        width: 33%;
        float: left;
        height: 40rem;
        text-align: center;

        padding: 5rem 2rem;

       
        & img{
            margin-bottom: 3rem;
        }
        & p{
            color: #50668f;
            font-size: 1.5rem;
        }
        & h1{
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
    }
    &__three{
        width: 33%;
        float: left;
        height: 40rem;
        text-align: center;

        padding: 5rem 2rem;

       
        & img{
            margin-bottom: 3rem;
        }
        & p{
            color: #50668f;
            font-size: 1.5rem;
        }
        & h1{
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
       
    }

}
.section__part--tow{
    width: 100%;
    height: 60vh;
    // margin-top: 10rem;
    
}
.brand{
    margin-bottom: 5rem;
    margin-top: 30rem;
    &__left{
        width: 45%;
        float: left;
        padding-left: 5rem;

        & h1{
            font-size: 4rem;
            color: #1e283c;
            font-weight: 500;
        }
        & p{
            font-size: 1.5rem;
            color: #50668f;
            margin-top: 2rem;
            margin-bottom: 3rem;
            padding-right: 8rem;
        }

        button{
            border: none;
            // text-align: center;
            padding: 2rem;
            font-size: 1.6rem;

            text-transform: uppercase;
            cursor: pointer;

            &:hover{
                background-color:#7b10ff ;
                border-radius: 3px;
                color: white;
                // box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
            }
        }
    }
    &__right{
        float: left;
        width: 55%;
        & img{
            height: 70vh;
        }
    }
}
.after{
    margin-bottom: 15rem;
    font-size: 3rem;
    text-transform: uppercase;
    // width: max-content;
   color: #7b10ff;
//    border-bottom:  3px solid #7b10ff;
text-align: center;
position: relative;


   &::before{
       content: "";
    //    width: 2px;
    //    height: 3px;
    //    background-color: red;
    //    border-bottom: 2px solid black;
    // background-image: url(../img/pattern.png);
    width: 150px;
    height: 10px;
    // display: block;
    // color: red;
    position: absolute;
    top: 40px;
    left: 600px;
    right: 10px;
    bottom: 10px;
    // background: red;
    border-bottom: 2px solid black;
   
   }
}

// --------------------------------------Statistics----------------------
.section__part--three{
    width: 100%;
    height: 80vh;
    margin-top: 25rem;
    margin-bottom: 60rem;

    & .after2{
        margin-bottom: 15rem;
        font-size: 3rem;
        text-transform: uppercase;
        // width: max-content;
       color: #7b10ff;
    //    border-bottom:  3px solid #7b10ff;
    text-align: center;
    position: relative;

    &::before{
        content: "";
     //    width: 2px;
     //    height: 3px;
     //    background-color: red;
     //    border-bottom: 2px solid black;
     // background-image: url(../img/pattern.png);
     width: 220px;
     height: 10px;
     // display: block;
     // color: red;
     position: absolute;
     top: 40px;
     left: 565px;
     right: 10px;
     bottom: 10px;
     // background: red;
     border-bottom: 2px solid black;
    
    }
    }
   
    

    & .Statistics{
     

        &__one{
          
            &--part1{
               width: 100%;
               text-align: center;

               & h1{
                font-size: 3rem;
                color: #1e283c;
                padding: 2rem 0rem 0rem 0rem;

              
            }
            & p{
                font-size: 1.5rem;
                color: #50668f;
                padding: 2rem 0rem 8rem 0rem;
            }
            }
          
        }
        &__tow{
            width: 100%;
            height: 60rem;

            &--part1{
                  width: 33%;
                  float: left;

                  & img{
                      padding-left: 8rem;
                  }
            }
            &--part2{
                width: 33%;
                  float: left;

                  &-section1{
                      height: 20rem;
                      margin-bottom: 5rem;

                      & h1{
                          font-size: 3rem;
                          color: #1e283c;
                          padding: 2rem 0rem;
                          
                      }
                      & p{
                          font-size: 1.5rem;
                          color: #50668f;
                      }
                  }

                  &-section2{
                    height: 20rem;

                    & h1{
                        font-size: 3rem;
                        color: #1e283c;
                        padding: 2rem 0rem;
                        
                    }
                    & p{
                        font-size: 1.5rem;
                        color: #50668f;
                    }
                  }
                
            }
            &--part3{
                width: 33%;
                  float: left;

                  &-section1{
                    height: 20rem;
                    margin-bottom: 5rem;

                    & h1{
                        font-size: 3rem;
                        color: #1e283c;
                        padding: 2rem 0rem;
                        
                    }
                    & p{
                        font-size: 1.5rem;
                        color: #50668f;
                    }
                }

                &-section2{
                  height: 20rem;

                  & h1{
                      font-size: 3rem;
                      color: #1e283c;
                      padding: 2rem 0rem;
                      
                  }
                  & p{
                      font-size: 1.5rem;
                      color: #50668f;
                  }
                }
                
            }
        }
    }
}
                    // ------------pricing--------------
.section__part--four{
    width: 100%;
    height: 80vh;
    margin-top: 25rem;
    margin-bottom: 60rem;

    & .after2{
        margin-bottom: 15rem;
        font-size: 3rem;
        text-transform: uppercase;
        // width: max-content;
       color: #7b10ff;
    //    border-bottom:  3px solid #7b10ff;
    text-align: center;
    position: relative;

    &::before{
        content: "";
     //    width: 2px;
     //    height: 3px;
     //    background-color: red;
     //    border-bottom: 2px solid black;
     // background-image: url(../img/pattern.png);
     width: 220px;
     height: 10px;
     // display: block;
     // color: red;
     position: absolute;
     top: 40px;
     left: 565px;
     right: 10px;
     bottom: 10px;
     // background: red;
     border-bottom: 2px solid black;
    
    }
    }

    & .Statistics{
     

        &__one{
          
            &--part1{
               width: 100%;
               text-align: center;

               & h1{
                font-size: 3rem;
                color: #1e283c;
                padding: 2rem 0rem 0rem 0rem;

              
            }
            & p{
                font-size: 1.5rem;
                color: #50668f;
                padding: 2rem 0rem 8rem 0rem;
            }
            }
          
        }

        & .pricing{
            margin-top: 5rem;

            &__part1{
                width: 33%;
                padding-left: 15rem;
                float: left;
                text-align: center;

                & ul{
                    list-style: none;
                }

                & h1{
                    color: #1e283c;
                    font-size: 3rem;
                }
                & p{
                    font-size: 1.5rem;
                    padding: 2rem;
                }

                & h2 span{
                    font-size: 4rem;
                }
                & ul li{
                    font-size: 1.5rem;
                    padding: 1rem 0rem;
                    border-bottom: 1px solid gray;

                }
                & button{
                    width: 15rem;
                    height: 4rem;
                    margin-top: 2rem;
                    cursor: pointer;
                    border: none;
                    font-size: 2rem;
                     &:hover{
                    background-color:#7b10ff ;
                    border-radius: 3px;
                    color: white;
                     }
                }
            }
            &__part2{
                width: 33%;
                padding-left: 15rem;
                float: left;
                text-align: center;

                & ul{
                    list-style: none;
                }

                & h1{
                    color: #1e283c;
                    font-size: 3rem;
                }
                & p{
                    font-size: 1.5rem;
                    padding: 2rem;
                }

                & h2 span{
                    font-size: 4rem;
                }
                & ul li{
                    font-size: 1.5rem;
                    padding: 1rem 0rem;
                    border-bottom: 1px solid gray;

                }
                & button{
                    width: 15rem;
                    height: 4rem;
                    margin-top: 2rem;
                    cursor: pointer;
                    border: none;
                    font-size: 2rem;
                     &:hover{
                    background-color:#7b10ff ;
                    border-radius: 3px;
                    color: white;
                     }
                }

            }
            &__part3{
                width: 33%;
                padding-left: 10rem;
                float: left;
                text-align: center;
                

                & ul{
                    list-style: none;
                }

                & h1{
                    color: #1e283c;
                    font-size: 3rem;
                }
                & p{
                    font-size: 1.5rem;
                    padding: 2rem;
                }

                & h2 span{
                    font-size: 4rem;
                }
                & ul li{
                    font-size: 1.5rem;
                    padding: 1rem 0rem;
                    border-bottom: 1px solid gray;

                }
                & button{
                    width: 15rem;
                    height: 4rem;
                    margin-top: 2rem;
                    cursor: pointer;
                    border: none;
                    font-size: 2rem;
                     &:hover{
                    background-color:#7b10ff ;
                    border-radius: 3px;
                    color: white;
                     }
                }

            }
        }
    }
}


        //    ---------------footer----------------
footer{
    width: 100%;
    height: 60rem;
    background-image:linear-gradient( #7b10ff 0%, #974fff 100%);

    & .footer__all{
        padding: 10rem 10rem 0rem 10rem;
        height: 60rem;
        

        &--one{
            float: left;
            width: 30%;

            & h1{
                color: #fff;
                font-size: 2rem;
                padding: 2rem 0rem;
            }
            & p{
                font-size: 1.5rem;
                color: #fff;
            }
        }
        &--tow{
            float: left;
            width: 15%;
            padding-left: 2rem;

            & h1{
                color: #fff;
                font-size: 2rem;
                padding: 2rem 0rem;
            }
            & h2{
                padding-bottom: 1.5rem;
            }
            & h2 a{
                color: #fff; 
                text-decoration: none;
              
            }
        }
        &--three{
            float: left;
            width: 15%;
            & h1{
                color: #fff;
                font-size: 2rem;
                padding: 2rem 0rem;
            }
            & h2{
                padding-bottom: 1.5rem;
            }
            & h2 a{
                color: #fff; 
                text-decoration: none;
               
            }
        }
        &--four{
            float: left;
            width: 20%;
            & h1{
                color: #fff;
                font-size: 2rem;
                padding: 2rem 0rem;
            }
            & h2{
                padding-bottom: 1.5rem;
            }
            & h2 a{
                color: #fff; 
                text-decoration: none;
               
            }
        }
        &--five{
            float: left;
            width: 20%;
            & h1{
                color: #fff;
                font-size: 2rem;
                padding: 2rem 0rem;
            }
            & p{
                font-size: 1.5rem;
                color: #fff;
            }
            & input{
                margin-top: 2rem;
                padding: 1rem 2rem;
                border: none;
            }
            & button{
                width: 10rem;
                height: 3rem;
                margin-top: 2rem;
                border-radius: 4px;
                border: none;
                color: black ;
                cursor: pointer;
                // background-color: #974FFF;
                // text-decoration: none;
                font: 2rem;
                &:hover{
                   
                    background-color:#7b10ff ;
                    color: white;
                    
                }
            }
            
        }
        
    }
    
}
.middle{
    text-align: center;
   
   
   
    
   & h1{
        color: black;
        text-transform: uppercase;
        margin-top: 40rem;
        
      
       
        
    }
}