*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(104, 131, 252, 0.9)), to(rgba(185, 112, 253, 0.9)));
  background-image: linear-gradient(to right bottom, rgba(104, 131, 252, 0.9), rgba(185, 112, 253, 0.9));
  height: 50vh;
}

header .hero {
  width: 100%;
  height: 20vh;
  padding: 10rem;
}

header .hero__one {
  width: 50%;
  float: left;
}

header .hero__one h1 {
  color: #551A8B;
  font-size: 3rem;
  text-transform: uppercase;
}

header .hero__tow {
  width: 50%;
  float: left;
}

header .hero__tow h1 a {
  font-size: 3rem;
  text-decoration: none;
}

.nav__color {
  padding: 2rem;
  height: 14vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(104, 131, 252, 0.9)), to(rgba(185, 112, 253, 0.9)));
  background-image: linear-gradient(to right bottom, rgba(104, 131, 252, 0.9), rgba(185, 112, 253, 0.9));
  position: relative;
}

.nav__img {
  float: left;
}

.nav__ul {
  list-style: none;
  margin-top: .5rem;
  left: 52%;
  position: absolute;
}

.nav__ul--li {
  list-style: none;
  float: left;
}

.nav__ul--li--a {
  padding: 0rem 2rem 1rem 2rem;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
}

.nav__ul--li--a:hover {
  color: black;
  border-bottom: 3px solid #5fbafc;
}

.main {
  width: 100%;
  height: 140vh;
}

.main__part--one {
  padding: 10rem;
}

.main__part--one-one {
  text-align: center;
  margin: 0 auto;
}

.main__part--one-one h1 {
  font-size: 3rem;
  position: relative;
}

.main__part--one-one h1::before {
  content: "";
  width: 13rem;
  height: 5px;
  background-color: red;
  top: 2.2rem;
  left: 38rem;
  position: absolute;
  display: inline-block;
}

.main__part--one-one h1::after {
  content: "";
  width: 12rem;
  height: 5px;
  background-color: red;
  top: 2.2rem;
  position: absolute;
  display: inline-block;
}

.main__part--one-tow {
  width: 100%;
  padding: 3rem;
  background-color: #B2B6BA;
  overflow: hidden;
  margin-top: 10rem;
}

.main__part--one-tow--section1 .div1 {
  width: 33%;
  float: left;
}

.main__part--one-tow--section1 .div1 img {
  width: 90%;
}

.main__part--one-tow--section1 .div2 {
  width: 33%;
  float: left;
  text-align: center;
}

.main__part--one-tow--section1 .div2 h1 {
  color: #551A8B;
  font-size: 3rem;
}

.main__part--one-tow--section1 .div2 P {
  line-height: 3rem;
  font-size: 1.5rem;
}

.main__part--one-tow--section1 .div3 {
  width: 33%;
  float: left;
}

.main__part--one-tow--section1 .div3 img {
  width: 96%;
}

.main__part--one-tow--section2 .div1 {
  width: 33%;
  float: left;
  text-align: center;
}

.main__part--one-tow--section2 .div1 h1 {
  color: #551A8B;
  font-size: 3rem;
}

.main__part--one-tow--section2 .div1 P {
  line-height: 3rem;
  font-size: 1.5rem;
}

.main__part--one-tow--section2 .div2 {
  width: 33%;
  float: left;
  text-align: center;
}

.main__part--one-tow--section2 .div2 img {
  width: 90%;
}

.main__part--one-tow--section2 .div3 {
  width: 33%;
  float: left;
  text-align: center;
}

.main__part--one-tow--section2 .div3 h1 {
  color: #551A8B;
  font-size: 3rem;
}

.main__part--one-tow--section2 .div3 P {
  line-height: 3rem;
  font-size: 1.5rem;
}

footer {
  width: 100%;
  height: 60rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7b10ff), to(#974fff));
  background-image: linear-gradient(#7b10ff 0%, #974fff 100%);
}

footer .footer__all {
  padding: 10rem 10rem 0rem 10rem;
  height: 60rem;
}

footer .footer__all--one {
  float: left;
  width: 30%;
}

footer .footer__all--one h1 {
  color: #fff;
  font-size: 2rem;
  padding: 2rem 0rem;
}

footer .footer__all--one p {
  font-size: 1.5rem;
  color: #fff;
}

footer .footer__all--tow {
  float: left;
  width: 15%;
  padding-left: 2rem;
}

footer .footer__all--tow h1 {
  color: #fff;
  font-size: 2rem;
  padding: 2rem 0rem;
}

footer .footer__all--tow h2 {
  padding-bottom: 1.5rem;
}

footer .footer__all--tow h2 a {
  color: #fff;
  text-decoration: none;
}

footer .footer__all--three {
  float: left;
  width: 15%;
}

footer .footer__all--three h1 {
  color: #fff;
  font-size: 2rem;
  padding: 2rem 0rem;
}

footer .footer__all--three h2 {
  padding-bottom: 1.5rem;
}

footer .footer__all--three h2 a {
  color: #fff;
  text-decoration: none;
}

footer .footer__all--four {
  float: left;
  width: 20%;
}

footer .footer__all--four h1 {
  color: #fff;
  font-size: 2rem;
  padding: 2rem 0rem;
}

footer .footer__all--four h2 {
  padding-bottom: 1.5rem;
}

footer .footer__all--four h2 a {
  color: #fff;
  text-decoration: none;
}

footer .footer__all--five {
  float: left;
  width: 20%;
}

footer .footer__all--five h1 {
  color: #fff;
  font-size: 2rem;
  padding: 2rem 0rem;
}

footer .footer__all--five p {
  font-size: 1.5rem;
  color: #fff;
}

footer .footer__all--five input {
  margin-top: 2rem;
  padding: 1rem 2rem;
  border: none;
}

footer .footer__all--five button {
  width: 10rem;
  height: 3rem;
  margin-top: 2rem;
  border-radius: 4px;
  border: none;
  color: black;
  cursor: pointer;
  font: 2rem;
}

footer .footer__all--five button:hover {
  background-color: #7b10ff;
  color: white;
}

.middle {
  text-align: center;
}

.middle h1 {
  color: black;
  text-transform: uppercase;
  margin-top: 40rem;
}
